html {
   background-color: rgb(0, 0, 0);
}

#gameboard {
   width: 750px; /**previously 810, before 640*/
   height: 750px;
   /*background-color: black;*/
   display: flex;
   flex-wrap: wrap;
   margin: auto;  /* I want it in the center */
}

#iPieceSquare {
   width: 1px; /**previously 810, before 640*/
   height: 1px;
   /*background-color: black;*/
   display: none;
}

#turn {
   color: rgb(255, 255, 255);
}

#preview {
   color: rgb(255, 255, 255);
}

.intra {
   height: 90px;
   width: 90px;
   position: relative;
}

.intra img {
   position: relative;
   z-index: -5;
}

/* there's no path to put behind the img (svg) */
.modal {
   background-color: rgba(0, 0, 0, 0.3); 
   opacity: 0;
   position: fixed;
   top: 0; 
   left: 0; 
   right: 0; 
   bottom: 0;
   transition: all 0.3s ease-in-out; 
   z-index: -1;
   
   display: flex;
   align-items: center; 
   justify-content: center;
}

.modal-inner {
   background-color:#fff;
   border-radius: 5px; 
   box-shadow: 0 1px 4px rgba(0,0, 0, 0.3);
   padding: 15px 25px; 
   text-align: center;
   width: 380px; 
}

.piece {
   position: relative;
   z-index: 5; /* the piece is the one is in front */
}

.square {
/*    margin: auto;*/
   text-align: center;
   /* display: block; */
   
}

.boarder-left {
   height: 90px;
   width: 30px;
   font-size: 30px;
   color: rgb(82, 3, 3);
}

.boarder-down {
   height: 30px;
   width: 90px;
   font-size: 30px;
   color: rgb(82, 3, 3);
}

.boarder {
   height: 30px;
   width: 30px;
}

.boarder-top {
   height: 90px;
   width: 30px;
}

.boarder-down {
   height: 30px;
   width: 90px;
}

/* .square svg {

} */

.beige {
   background-color: rgb(110, 110, 98);
}

.brown {
   background-color: rgb(68, 29, 29);
}

.pink {
   background-color: rgb(227, 71, 128);
}

.red {
   background-color: rgb(168, 5, 5);
}

.white {
   background-color: rgb(245, 245, 245);
}